<div class="fixed-container">
  <!-- Introduction -->
  <div class="question-container" data-number="0">
    <div class="question">
      <h1>COVID-19 & Експертна система з інших респіраторних захворювань</h1>
      <p>Що це?</p>
      <p>Дайте відповідь на 13 запитань, і ми скажемо, чи є у вас шанси захворіти на COVID-19 або інші респіраторні захворювання.</p>
    </div>
    <div class="input">
      <button class="submit" data-answer-type="choice">Добре ✔</button>
    </div>
  </div>

  <!-- question 0 -->
  <div class="question-container" data-number="1">
    <div class="question">
      <h1>Як вас звати?</h1>
      <p>Ваше ім'я</p>
    </div>
    <div class="input">
      <input id="nameInput" type="text" placeholder="Напишіть свою відповідь тут." />
      <button data-answer-type="text" class="submit">OK ✔</button>
      <p id="nameInputReminder" style="color: red; display: none;">Введіть своє ім'я</p>
    </div>
  </div>

  <!-- question 1 -->
  <div class="question-container" data-number="2">
    <div class="question">
      <h1>1. Скільки вам років?</h1>
      <p>У роках.</p>
    </div>
    <div class="input">
      <input id="ageInput" type="text" placeholder="Напишіть свою відповідь тут." />
      <button data-answer-type="number" class="submit">OK ✔</button>
      <p id="ageInputReminder" style="color: red; display: none;">Введіть свій вік (ОБОВ'ЯЗКОВО ЦИФРАМИ і ДІЙСНИЙ вік).</p>
    </div>
  </div>
  
  <!-- question 2 -->
  <div class="question-container" data-number="3">
    <div class="question">
      <h1>2. Яка ваша стать?</h1>
      <p>Чоловік чи жінка.</p>
    </div>
    <div class="input">
      <div>
        <button data-question="gender" data-choice="male" data-answer-type="choice" class="submit" style="width: 6rem;">Чоловік</button>
      </div>
      <div>
        <button data-question="gender" data-choice="female" data-answer-type="choice" class="submit" style="width: 6rem;">Жінка</button>
      </div>
    </div>
  </div>
  
  <!-- question 3 -->
  <div class="question-container" data-number="4">
    <div class="question">
      <h1>3. Чи є у вас в сімейному анамнезі респіраторні захворювання?</h1>
      <p>Деякі приклади респіраторних захворювань: гострий бронхіт, астма, бронхоектатична хвороба, бронхіоліт, Хронічне обструктивне захворювання легень, COVID 19, грип, рак легенів, муковісцидоз, коклюш, професійні захворювання легенів, риносинусит, туберкульоз.</p>
    </div>
    <div class="input">
      <div>
        <button data-question="familyHistory" data-choice="Y" data-answer-type="choice" class="submit" style="width: 4rem;">Так</button>
      </div>
      <div>
        <button data-question="familyHistory" data-choice="N" data-answer-type="choice" class="submit" style="width: 4rem;">Ні</button>
      </div>
    </div>
  </div>

  <!-- question 4 -->
  <div class="question-container" data-number="5">
    <div class="question">
      <h1>4. Чи палите ви або хтось у вашій родині палить?</h1>
      <p>Куріння збільшує ризик захворювання легень, пошкоджуючи дихальні шляхи і маленькі повітряні мішечки (альвеоли), що знаходяться в легенях.</p>
      <p>Джерело: <a href="https://www.cdc.gov/tobacco/data_statistics/fact_sheets/health_effects/effects_cig_smoking/index.htm#:~:text=1%2C2-,Smoking%20and%20Respiratory%20Disease,alveoli)%20found%20in%20your%20lungs.&text=Lung%20diseases%20caused%20by%20smoking,includes%20emphysema%20and%20chronic%20bronchitis.&text=Cigarette%20smoking%20causes%20most%20cases%20of%20lung%20cancer.">www.cdc.gov</a></p>
    </div>
    <div class="input">
      <div>
        <button data-question="smokingHistory" data-choice="Y" data-answer-type="choice" class="submit" style="width: 4rem;">Так</button>
      </div>
      <div>
        <button data-question="smokingHistory" data-choice="N" data-answer-type="choice" class="submit" style="width: 4rem;">Ні</button>
      </div>
    </div>
  </div>

  <!-- question 5 -->
  <div class="question-container" data-number="6">
    <div class="question">
      <h1>5. Ви відчуваєте біль у грудях?</h1>
      <p>Можливі причини болю в грудях можуть бути пов'язані з легенями.</p>
      <p>Джерело: <a href="https://www.mayoclinic.org/diseases-conditions/chest-pain/symptoms-causes/syc-20370838">www.mayoclinic.org</a></p>
    </div>
    <div class="input">
      <div>
        <button data-question="chestPain" data-choice="Y" data-answer-type="choice" class="submit" style="width: 4rem;">Так</button>
      </div>
      <div>
        <button data-question="chestPain" data-choice="N" data-answer-type="choice" class="submit" style="width: 4rem;">Ні</button>
      </div>
    </div>
  </div>

  <!-- question 6 -->
  <div class="question-container" data-number="7">
    <div class="question">
      <h1>6. Ви кашляєте?</h1>
      <p>Кашель є одним із симптомів багатьох респіраторних захворювань.</p>
      <p>Джерело: <a target="_blank" href="https://www.webmd.com/lung/dont-ignore-breathing-problems#:~:text=A%20thick%2C%20wet%20cough%20can,well%20as%20they%20used%20to.">www.webmd.com</a></p>
    </div>
    <div class="input">
      <div>
        <button data-question="cough" data-choice="dry" data-answer-type="choice" class="submit" style="width: 14rem;">Так. Сухий кашель.</button>
      </div>
      <div>
        <button data-question="cough" data-choice="productive" data-answer-type="choice" class="submit" style="width: 14rem;">Так. Продуктивний (вологий) кашель.</button>
      </div>
      <div>
        <button data-question="cough" data-choice="dry" data-answer-type="choice" class="submit" style="width: 14rem;">Ні.</button>
      </div>
    </div>
  </div>

  <!-- question 7 -->
  <div class="question-container" data-number="8">
    <div class="question">
      <h1>7. Ви кашляєте кров'ю?</h1>
      <p>Стан, коли ви кашляєте кров'ю (або гемотипія), вказує на кровотечу з дихальних шляхів і може бути спричинений багатьма різними респіраторними захворюваннями, такими як туберкульоз або пневмонія.</p>
      <p>Джерело: <a target="_blank" href="https://en.wikipedia.org/wiki/Hemoptysis#:~:text=Hemoptysis%20is%20the%20coughing%20up,pneumonia%2C%20and%20certain%20cardiovascular%20conditions.">Wikipedia</a></p>
    </div>
    <div class="input">
      <div>
        <button data-question="coughingUpBlood" data-choice="Y" data-answer-type="choice" class="submit" style="width: 4rem;">Так</button>
      </div>
      <div>
        <button data-question="coughingUpBlood" data-choice="N" data-answer-type="choice" class="submit" style="width: 4rem;">Ні</button>
      </div>
    </div>
  </div>

  <!-- question 8 -->
  <div class="question-container" data-number="9">
    <div class="question">
      <h1>8. У вас лихоманка?</h1>
      <p>Центри з контролю та профілактики захворювань (CDC) вважають, що у людини є лихоманка, якщо у неї виміряна температура 38°C.</p>
      <p>Джерело: <a target="_blank" href="https://www.cdc.gov/quarantine/air/reporting-deaths-illness/definitions-symptoms-reportable-illnesses.html">www.cdc.gov</a></p>
    </div>
    <div class="input">
      <div>
        <button data-question="fever" data-choice="Y" data-answer-type="choice" class="submit" style="width: 4rem;">Так</button>
      </div>
      <div>
        <button data-question="fever" data-choice="N" data-answer-type="choice" class="submit" style="width: 4rem;">Ні</button>
      </div>
    </div>
  </div>

  <!-- question 9 -->
  <div class="question-container" data-number="10">
    <div class="question">
      <h1>9. Ви відчуваєте прискорене дихання?</h1>
      <p>У дорослих людей у стані спокою будь-яка частота дихання від 12 до 20 вдихів є нормальною, а на тахіпное вказує частота, що перевищує 20 вдихів за хвилину.</p>
      <p>Джерело: <a target="_blank" href="https://en.wikipedia.org/wiki/Tachypnea#:~:text=Tachypnea%20is%20a%20respiration%20rate,resulting%20in%20abnormally%20rapid%20breathing.&text=In%20adult%20humans%20at%20rest,than%2020%20breaths%20per%20minute.">Wikipedia.</a></p>
    </div>
    <div class="input">
      <div>
        <button data-question="rapidBreathing" data-choice="Y" data-answer-type="choice" class="submit" style="width: 4rem;">Так</button>
      </div>
      <div>
        <button data-question="rapidBreathing" data-choice="N" data-answer-type="choice" class="submit" style="width: 4rem;">Ні</button>
      </div>
    </div>
  </div>

  <!-- question 10 -->
  <div class="question-container" data-number="11">
    <div class="question">
      <h1>10. Ви відчуваєте задишку?</h1>
      <p>Задишка часто описується як сильне стискання в грудях, повітряний голод, утруднене дихання, задишка або відчуття задухи.</p>
      <p>Джерело: <a target="_blank" href="https://www.mayoclinic.org/symptoms/shortness-of-breath/basics/definition/sym-20050890#:~:text=Shortness%20of%20breath%20%E2%80%94%20known%20medically,breath%20in%20a%20healthy%20person.">Mayoclinic</a></p>
    </div>
    <div class="input">
      <div>
        <button data-question="shortnessOfBreath" data-choice="Y" data-answer-type="choice" class="submit" style="width: 4rem;">Так</button>
      </div>
      <div>
        <button data-question="shortnessOfBreath" data-choice="N" data-answer-type="choice" class="submit" style="width: 4rem;">Ні</button>
      </div>
    </div>
  </div>

  <!-- question 11 -->
  <div class="question-container" data-number="12">
    <div class="question">
      <h1>11. Ви відчуваєте прискорене серцебиття?</h1>
      <p>Тахікардія - це медичний термін для позначення частоти серцевих скорочень понад 100 ударів на хвилину.</p>
      <p>Джерело: <a target="_blank" href="https://www.mayoclinic.org/diseases-conditions/tachycardia/symptoms-causes/syc-20355127#:~:text=Tachycardia%20heartbeat,-In%20tachycardia%2C%20an&text=Tachycardia%20is%20the%20medical%20term,to%20have%20a%20fast%20heartbeat.">Mayoclinic</a></p>
    </div>
    <div class="input">
      <div>
        <button data-question="rapidHeartbeat" data-choice="Y" data-answer-type="choice" class="submit" style="width: 4rem;">Так</button>
      </div>
      <div>
        <button data-question="rapidHeartbeat" data-choice="N" data-answer-type="choice" class="submit" style="width: 4rem;">Ні</button>
      </div>
    </div>
  </div>

  <!-- question 12 -->
  <div class="question-container" data-number="13">
    <div class="question">
      <h1>12. Ви відчуваєте хрипи?</h1>
      <p>Хрипи - це високий свистячий звук, що виникає під час дихання.</p>
      <p>Джерело: <a target="_blank" href="https://www.healthline.com/health/wheezing#:~:text=Wheezing%20is%20a%20high%2Dpitched,that%20requires%20diagnosis%20and%20treatment.">www.healthline.com</a></p>
    </div>
    <div class="input">
      <div>
        <button data-question="wheezing" data-choice="Y" data-answer-type="choice" class="submit" style="width: 4rem;">Так</button>
      </div>
      <div>
        <button data-question="wheezing" data-choice="N" data-answer-type="choice" class="submit" style="width: 4rem;">Ні</button>
      </div>
    </div>
  </div>

  <!-- question 13 -->
  <div class="question-container" data-number="14">
    <div class="question">
      <h1>13. Як довго тривають симптоми?</h1>
      <p>Симптоми деяких респіраторних захворювань, таких як COVID 19, можуть тривати місяцями.</p>
      <p>Джерело: <a target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/long-term-effects.html">www.cdc.gov</a></p>
    </div>
    <div class="input">
      <div>
        <button data-question="duration" data-choice="<1 week" data-answer-type="choice" class="submit" style="width: 12rem;">Менше одного тижня</button>
      </div>
      <div>
        <button data-question="duration" data-choice=">1 week, <4 weeks" data-answer-type="choice" class="submit" style="width: 12rem;">Більше одного тижня, менше місяця</button>
      </div>
      <div>
        <button data-question="duration" data-choice="months" data-answer-type="choice" class="submit" style="width: 12rem;">Кілька місяців</button>
      </div>
      <div>
        <button data-question="duration" data-choice="years" data-answer-type="choice" class="submit" style="width: 12rem;">Кілька років</button>
      </div>
    </div>
  </div>

  <!--  Result -->
  <div class="question-container" data-number="15">
    <div class="question">
      <h1 id="username">,</h1>
      <p id="youhave">у вас, напевно, є</p>
      <h2 id="disease" style="font-weight: 400"></h2>
      <p id="percentage"></p>
      <details>
        <summary>Перегляньте свої відповіді</summary>
        <p id="review-name">Ім'я: </p>
        <p id="review-age">Вік: </p>
        <p id="review-gender">GenСтатьder: </p>
        <p id="review-familyHistory">Історія здоров'я сім'ї: </p>
        <p id="review-smokingHistory">Стаж куріння: </p>
        <p id="review-chestPain">Біль у грудях: </p>
        <p id="review-cough">Кашель: </p>
        <p id="review-coughingUpBlood">Кашель з кров'ю: </p>
        <p id="review-fever">Лихоманка: </p>
        <p id="review-rapidBreathing">Прискорене дихання: </p>
        <p id="review-shortnessOfBreath">Задишка: </p>
        <p id="review-rapidHeartbeat">Прискорене серцебиття: </p>
        <p id="review-wheezing">Хрипи: </p>
        <p id="review-duration">Тривалість симптомів: </p>
      </details>
      <button class="try-agn-btn" onclick="location.reload();">Спробуйте ще раз</button>

    </div>
  </div>
</div>